.card {
  margin: 15px;
}

.container {
  text-align: center;
}

.custom-btn{
  width: 600px;
  margin: 15px;
}

.custom-btn-small{
  width: 400px;
  height:30px;
  margin: 15px;
  text-decoration: none;
  color: #fff;
  background-color: #2a68ed;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.custom-btn-small:hover {
  background-color: #2bbbad;
}

.tablecell{
  text-decoration: underline;
  color:blue;
}

.customtable{
  margin : 20px;
}

.textheader{
  text-align: left;
  color: green;
  font-size: 20px;
}

.textlabel{
  color: dimgrey;
  text-align: left;
}

.textunavail{
  font-size: 20px;
  color: dimgrey;
  text-align: left;
}

.textinfo{
  font-size: 18px;
}

.styled-select.slate {
  height: 35px;
  width: 45px;
  display: block;
}

.tableheader {
  word-wrap: break-word;
} 


