{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
    <!-- Navigation -->
    <nav>
      <div class="nav-wrapper blue darken-4" onclick="location.href='{% url 'index' %}'">
        <a href="#" class="brand-logo center">Browse Campaigns</a>
      </div>
    </nav>
    <div class="container" style="margin: 30px 0 0 40%; width: 50%;">
       <form class="form-inline row" role="form" action="#" method="post">
           {% csrf_token %}
          <div class="form-row align-items-center">
              <div class="col-auto">
                <label for="support">Apriori Support:</label>
                <input type="number" name="aprioriSupport" step='0.05' min='0' max='1' class="form-control" id="support" placeholder="e.g. 0.34">
              </div>
           <div class="col-auto">
               <button type="submit" name="submitSupport" class="btn btn-default">Submit</button>
           </div>
          </div>
        </form>
    </div>

    <section class="campaign-table">
        <div class="container">
            <div class="table-responsive" style="margin-top: 100px;">
                {% render_table table %}
            </div>
          </div>
    </section>

{% endblock %}