{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block content %}
    <nav>
      <div class="nav-wrapper blue darken-4" onclick="location.href='{% url 'index' %}'">
        <a href="#" class="brand-logo center">Campaign Details</a>
      </div>
    </nav>

    <main class="container">
      <div class="row">
        <div class="col s12">

            <!-- Back to Campaign list page -->
            <div>
                <button class="waves-effect waves-light btn-large custom-btn" type="button" onclick="location.href='{% url 'campaign_table' %}'">
                    Campaigns List
                </button>
            </div>
            
            <!-- Single campaign table -->
            <div class="row">
               {% render_table single_campaign_table %}
            </div>

             <!-- Back to Campaign list page -->
             <div >
              <button class="waves-effect waves-light  custom-btn-small" type="button" onclick="location.href='https://cpdaoprototypea1-fyh7yr.azurewebsites.net/'">
                  Take Action (Link to DAO Admin site)
              </button>
            </div>

            <!-- Campaign Status -->
            <div >
              <p class="textheader">Status</p>
              <p class="textlabel" id="state">State: Created</p>
              <p class="textlabel" id="date">Created Date: {{ campaign_information.timestamp }}</p>
            </div>

            <!-- Campaign Details -->
            <div >
                <p class="textheader">Details</p>
                <p class="textlabel" id="contractid">Contract ID: {{ campaign_information.id }}</p>
                <p class="textlabel" id="address">Contract Ledger Address: {{ campaign_information.ledgerIdentifier }}</p>
                <p class="textlabel" id="name">Campaign Name: {{ campaign_information.contractProperties.1.value }}</p>
                <p class="textlabel" id="org">Organization: {{ campaign_information.contractProperties.4.value }}</p>
                <p class="textlabel" id="descr">Campaign Description: {{ campaign_information.contractProperties.2.value }}</p>
                <p class="textlabel" id="city">City: {{ campaign_information.contractProperties.3.value }}</p>
                <p class="textlabel" id="mincontrib">Minimum Contribution: {{ campaign_information.contractProperties.5.value }}</p>
                <p class="textlabel" id="goal">Funding Goal: {{ campaign_information.contractProperties.6.value }}</p>
                <p class="textlabel" id="funds">Current Funds: {{ campaign_information.contractProperties.7.value }}</p>
                <p class="textlabel" id="contributors">Contributors: {{ campaign_information.contractProperties.9.value }}</p>
                <p class="textlabel" id="manager">Manager Ledger Address: {{ campaign_information.contractProperties.8.value }}</p>
            </div>

            <!-- Campaign Activity -->
            <div class="row">
                <p class="textunavail">Activity (Coming Soon)</p>
            </div>
        
        </div>
      </div>
    </main>
{% endblock %}